<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
  id="http://rs-wasm-tv-app.local/app" version="0.1.0" viewmodes="maximized">
  <tizen:application id="rsWasmTvApp.App" package="rsWasmTvApp" required_version="2.3"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <name>WASM TV</name>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable"
    background-support="disable" encryption="disable" install-mode="normal"
    hwkey-event="enable"/>
</widget>
